/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  /* --main-color: #b4047b; */
  --sec-color: #1787e0;
  --link-bg-color: #fafafa;
  --landing-bg-color: #ececec;
  --landing-skew-y: -6deg;
  --cont-padd: 15px;
  --main-transition-duration: 0.3s;
  --main-title-transition-duration: 0.5s;
  --main-box-padding: 100px;
  --banky-color: #f44036;
  --qr-color: #009688;
  --ussd-color: #03a9f4;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: var(--cont-padd);
  padding-right: var(--cont-padd);
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title {
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition-duration);
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move var(--main-title-transition-duration) linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move var(--main-title-transition-duration) linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: var(--main-title-transition-duration);
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
.dots {
  /* background-image: url(/imgs/dots.webp);
  position: absolute;
  width: 220px;
  height: 220px;
  background-repeat: repeat;
  background-size: 140px;
  z-index: -1;
  filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.7)); */
  background-image: url(/imgs/dots.png);
  position: absolute;
  width: 220px;
  height: 220px;
  background-repeat: repeat;
  background-size: 44px;
  z-index: -1;
}
.dots-up {
  top: 200px;
  right: 0;
}
.dots-down {
  bottom: 200px;
  left: 0;
}
/* End Global Rules */
/* Start Header */
.header {
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
/* .header .container a {
  text-decoration: none;
} */
.header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 40px;
    margin-top: 20px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  transition: var(--main-transition-duration);
  overflow: hidden;
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition-duration);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: var(--link-bg-color);
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 35px);
  opacity: 0;
  transition: top var(--main-transition-duration),
    opacity var(--main-transition-duration);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 240px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1.5px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1.5px solid #e9e6e6;
  }
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #eaeaea;
  z-index: -1;
  transition: var(--main-transition-duration);
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
.header .mega-menu .links li a {
  color: var(--main-color);
  display: block;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: var(--landing-bg-color);
  z-index: -1;
  transform: skewY(var(--landing-skew-y));
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -1px;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}
.landing .text p {
  font-size: 24px;
  line-height: 1.6;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text p {
    font-size: 18px;
    margin: 15px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    margin: 10px auto;
  }
}
.landing .image img {
  width: 600px;
  position: relative;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition-duration);
}
.landing .go-down:hover {
  /* color: var(--sec-color); */
  color: black;
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
.landing .go-down i:hover {
  animation: bouncing 100s infinite;
}
/* End Landing */
/* Start Cards */
.cards {
  padding: var(--main-box-padding) 0;
  position: relative;
}
.cards .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.cards .box {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.12);
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  transition: transform var(--main-transition-duration),
    box-shadow var(--main-transition-duration);
}
.cards .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
}
.cards .box img {
  margin: 20px;
  max-width: calc(100% - 40px);
}
.cards .box .content {
  padding: 20px;
}
.cards .box .content h3 {
  margin: 0;
}
.cards .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}
.cards .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .info a {
  /* text-decoration: none; */
  color: var(--main-color);
  font-weight: bold;
}
.cards .info i {
  color: var(--main-color);
}
.cards .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite alternate;
}
/* End Cards */
/* Start Gallery */
.gallery {
  padding: var(--main-box-padding) 0;
  position: relative;
  background-color: var(--landing-bg-color);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 40px;
}
.gallery .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.gallery .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
.gallery .box .image:hover::before {
  animation: flashing 0.7s;
}
.gallery img {
  max-width: 100%;
  transition: var(--main-transition-duration);
}
.gallery .box .image:hover img {
  /* transform: skewY(3deg) scale(1.1); */
  transform: rotate(5deg) scale(1.15);
}
/* End Gallery */
/* Start E-Services */
.electronic-services {
  padding: var(--main-box-padding) 0;
  position: relative;
  background-color: white;
}
.electronic-services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.electronic-services .box {
  text-align: center;
  border: 1px solid #ccc;
}
.electronic-services .box .img-holder {
  position: relative;
  overflow: hidden;
}
.electronic-services .box .img-holder::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 100%;
}
.electronic-services .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0 70px 500px;
  border-color: transparent transparent white transparent;
  transition: calc(var(--main-transition-duration) / 1);
}
.electronic-services .box:hover .img-holder::after {
  left: 0;
  border-color: transparent transparent white transparent;
  border-width: 70px 500px 70px 0;
  /* border-width: 0 0 0 0; */
}
.electronic-services .box .img-holder img {
  max-width: 100%;
}
.electronic-services .box h2 {
  position: relative;
  font-size: 32px;
  margin: auto;
  width: fit-content;
}
.electronic-services .box h2::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 15px;
  height: 5px;
  width: calc(100% - 30px);
  transition: var(--main-transition-duration);
}
.electronic-services .box p {
  line-height: 1.5;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  /* font-weight: bold; */
  color: #777;
}
.electronic-services .box a {
  display: block;
  border: 3px solid blue;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 6px;
  transition: var(--main-transition-duration);
}
.electronic-services .banky .img-holder::before {
  background-color: var(--banky-color);
}
.electronic-services .banky h2::after {
  background-color: var(--banky-color);
}
.electronic-services .banky a {
  color: var(--banky-color);
  border-color: var(--banky-color);
  background: linear-gradient(to right, var(--banky-color) 50%, white 50%);
}
.electronic-services .qr .img-holder::before {
  background-color: var(--qr-color);
}
.electronic-services .qr h2::after {
  background-color: var(--qr-color);
}
.electronic-services .qr a {
  color: var(--qr-color);
  border-color: var(--qr-color);
  background: linear-gradient(to right, var(--qr-color) 50%, white 50%);
}
.electronic-services .ussd .img-holder::before {
  background-color: var(--ussd-color);
}
.electronic-services .ussd h2::after {
  background-color: var(--ussd-color);
}
.electronic-services .ussd a {
  color: var(--ussd-color);
  border-color: var(--ussd-color);
  background: linear-gradient(to right, var(--ussd-color) 50%, white 50%);
}
.electronic-services .banky a,
.electronic-services .qr a,
.electronic-services .ussd a {
  background-size: 200% 100%;
  background-position: right bottom;
}
.electronic-services .banky .img-holder::before,
.electronic-services .qr .img-holder::before,
.electronic-services .ussd .img-holder::before {
  opacity: 0.6;
  transition: var(--main-transition-duration);
}
.electronic-services .box:hover a {
  background-position: left bottom;
  color: white;
}
.electronic-services .box:hover h2::after {
  width: 0;
}
.electronic-services .box:hover .img-holder::before {
  opacity: 0;
}
/* End E-Services */
/* Start Testimonials */
.testimonials {
  padding: var(--main-box-padding) 0;
  position: relative;
  background-color: var(--landing-bg-color);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 9%);
  border-radius: 6px;
  position: relative;
}
.testimonials .box img {
  max-width: 100%;
  position: absolute;
  right: -10px;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--landing-bg-color);
}
.testimonials .box h3 {
  margin: 0 0 10px;
  color: var(--main-color);
}
.testimonials .box .title {
  color: #777;
  margin-bottom: 12px;
  display: block;
}
.testimonials .box .rate .filled {
  color: #ffc107;
}
.testimonials .box p {
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 0;
}
.testimonials .box:hover {
  transition: var(--main-transition-duration);
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 2px 15px rgb(0 0 0 / 40%);
}
.testimonials .box:hover img {
  box-shadow: 0 2px 15px var(--sec-color);
  animation: bounce 0.5s ease-in-out 2;
}
/* End Testimonials */
/* Start Team */
.team {
  padding: var(--main-box-padding) 0;
  position: relative;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.team .box {
  position: relative;
}
.team .box::before,
.team .box::after {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--main-transition-duration);
}
.team .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}
.team .box:nth-child(1)::after,
.team .box:nth-child(2)::after,
.team .box:nth-child(3)::after {
  width: 100%;
}
.team .box::after {
  z-index: -1;
  background-color: #e4e4e4;
  width: 0;
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team .box .data img {
  width: calc(100% - 60px);
  transition: var(--main-transition-duration);
  border-radius: 10px;
}
.team .box:hover img {
  filter: blur(2px) brightness(0.3) grayscale(70%)
    drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.2));
}
.team .box:hover .square {
  outline: 1px solid grey;
}
.team .box:hover .circle {
  transform: scale(0.9) translateX(10px);
}
.team .box .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.team .box .social a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
}
.team .box .social i {
  color: #777;
  transition: var(--main-transition-duration);
}
.team .box .social a:hover i {
  color: var(--main-color);
}
.team .box .info {
  padding-left: 80px;
}
.team .box .info h3 {
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 22px;
  transition: var(--main-transition-duration);
}
.team .box .info p {
  margin-top: 10px;
  margin-bottom: 25px;
}
.team .box:hover .info h3 {
  color: #222;
}
/* End Team */
/* Start Services */
.services {
  padding: var(--main-box-padding) 0;
  position: relative;
  background-color: var(--landing-bg-color);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  counter-increment: services;
  transition: var(--main-transition-duration);
  position: relative;
}
.services .box::before {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  top: -3px;
  background-color: var(--main-color);
  position: absolute;
  width: 0;
  transition: var(--main-transition-duration);
}
.services .box:hover {
  transform: translateY(-10px);
  animation: dancing 0.6s alternate ease-in-out infinite;
}
.services .box:hover::before {
  width: 100%;
}
.services .box:hover i {
  color: #252525;
}
.services .box:hover .info::after {
  background-color: #252525;
}
.services .box > i {
  margin: 30px auto 20px;
  color: #d5d5d5;
  transition: var(--main-transition-duration);
}
.services .box > h3 {
  margin: 20px 0 40px;
  font-size: 25px;
  color: var(--main-color);
}
.services .box .info {
  padding: 15px;
  position: relative;
  background-color: #f9f9f9;
  width: 100%;
  text-align: right;
}
.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.services .box .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
  transition: calc(var(--main-transition-duration));
}
.services .box .info a {
  color: var(--main-color);
}
/* End Services */
/* Start Events */
.events {
  padding: var(--main-box-padding) 0;
  position: relative;
}
.events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.events img {
  max-width: 450px;
  transition: var(--main-transition-duration);
}
.events img:hover {
  filter: grayscale(60%) drop-shadow(0 0 15px rgb(85, 85, 85));
  animation: bounce 0.6s ease-in-out 3;
}
@media (max-width: 991px) {
  .events img {
    display: none;
  }
}
.events .info {
  flex: 1;
}
.events .info .time {
  display: flex;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
  justify-content: center;
}
.events .info .time .unit {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  text-align: center;
  width: 75px;
  transition: var(--main-transition-duration);
}
.events .info .time .unit span {
  display: block;
  transition: var(--main-transition-duration);
}
.events .info .time .unit span:first-child {
  font-size: 35px;
  padding: 15px;
  color: var(--main-color);
  font-weight: bold;
}
.events .info .time .unit span:last-child {
  padding: 8px 10px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
}
.events .info .time .unit:hover,
.events .info .time .unit:hover span:last-child {
  border-color: var(--main-color);
  box-shadow: 0 0 7px var(--main-color);
}
.events .title {
  text-align: center;
  margin: 40px 0 0;
  font-size: 30px;
}
.events .description {
  text-align: center;
  line-height: 1.7;
  font-size: 19px;
  color: #777;
  margin: 20px 35px 0;
}
.events .subscribe {
  width: 100%;
  margin-top: 50px;
}
.events .subscribe form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .events .subscribe form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 0;
  }
}
.events .subscribe form input[type="email"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  flex: 1;
  caret-color: var(--main-color);
}
@media (max-width: 767px) {
  .events .subscribe form input[type="email"] {
    border-radius: 0;
  }
}
.events .subscribe form input[type="email"]:focus {
  outline: none;
}
.events .subscribe form input[type="email"]::placeholder {
  transition: opacity var(--main-transition-duration);
  font-size: 18px;
}
.events .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.events .subscribe form input[type="submit"] {
  border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  font-size: 18px;
  transition: var(--main-transition-duration);
}
@media (max-width: 767px) {
  .events .subscribe form input[type="submit"] {
    border-radius: 0;
  }
}
.events .subscribe form input[type="submit"]:hover {
  background-color: var(--sec-color);
}
/* End Events */
/* Start Videos */
.videos {
  padding: var(--main-box-padding) 0;
  position: relative;
  background-color: var(--landing-bg-color);
}
.videos .holder {
  display: flex;
  justify-content: center;
  background-color: #d2d2d2;
  border: 1px solid #ddd;
}
@media (max-width: 991px) {
  .videos .holder {
    flex-direction: column;
  }
}
.videos .holder .list {
  min-width: 300px;
  background-color: white;
}
.videos .holder .list .name {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  font-weight: bold;
  color: var(--main-color);
}
.videos .holder .list ul li {
  padding: 15px;
  border-top: 1px solid var(--landing-bg-color);
  cursor: pointer;
  transition: var(--main-transition-duration);
}
.videos .holder .list ul li:hover {
  background-color: #f5f5f5;
  color: var(--main-color);
}
.videos .holder .list ul li span {
  display: block;
  margin-top: 10px;
  color: #777;
}
.videos .holder .preview {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.videos .holder img {
  max-width: 100%;
}
.videos .holder .info {
  padding: 20px;
  background-color: white;
  margin-top: 10px;
}
/* End Videos */
/* Start Stats */
.stats {
  padding: var(--main-box-padding) 0;
  position: relative;
  background-image: url("../imgs/preview-image.jpeg");
  background-size: cover;
  min-height: 300px;
}
.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}
.stats h2 {
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.stats .box {
  position: relative;
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  opacity: 0.8;
  transition: var(--main-transition-duration);
}
.stats .box:hover {
  opacity: 1;
  filter: drop-shadow(0 0 8px #aaa);
}
.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 0;
  background-color: var(--main-color);
  /* transition: 1s; */
  transition: calc(var(--main-transition-duration) * 3);
}
.stats .box::before {
  left: 0;
  bottom: 0;
}
.stats .box::after {
  right: 0;
  top: 0;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box i {
  font-size: 38px;
  transition: calc(var(--main-transition-duration) * 4);
}
.stats .box:hover i {
  color: var(--sec-color);
}
.stats .box .number {
  display: block;
  font-size: 45px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.stats .box .text {
  color: var(--main-color);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
/* End Stats */
/* Start Footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .box .social {
  display: flex;
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition-duration);
}
.footer .box .social .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
  background-color: #ff0000;
}
.footer .box .text {
  color: #b9b9b9;
  line-height: 2;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition-duration);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition-duration);
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
}
.footer .copyrights {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
  .footer .box .text,
  .footer .box .links li {
    text-align: center;
  }
  .footer .box .line {
    flex-direction: column;
  }
  .footer .box .line i {
    margin: 0 0 10px 0;
  }
  .footer .footer-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    gap: 10px;
  }
}
/* End Footer */
/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-20px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 51%;
    /* width: 50%; */
    height: 100%;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
@keyframes dancing {
  30% {
    transform: rotate(3deg) translateY(-10px);
  }
  60% {
    transform: rotate(-3deg) translateY(-10px);
  }
}
/* End Animation */
